can hold list,tuple,set as a single entities.
key-values eg, employee and salary.
we can duplicate value,but key cannot be duplicated.
keys can be numbers,names or anything and viceversa.

In [3]:
d={}
type(d)

dict

In [4]:
d1=dict()
type(d1)

dict

In [5]:
d={100:"venky",200:"ammu"}
print(d)

{100: 'venky', 200: 'ammu'}

In [6]:
d={100:"venky",200:"ammu"}
print(d[100])

venky

In [7]:
d[100]="ballaya"
print(d)

{100: 'ballaya', 200: 'ammu'}

In [8]:
d[100]

'ballaya'

In [9]:
d[0]

KeyError: 0

In [ ]:
''''write a program to enter name and percentage
of the student marks and also display the data''''

In [11]:
record={}
n=int(input("enter number of students:"))
i=1
while i<=n:
    name=input("enter student name:")
    marks=input("enter marks of student:")
    record[name]=marks
    i=i+1
print("name of the student","\t","% of marks")
for x in record:
    print(x,"\t",record[x])

enter number of students:3
enter student name:ammu
enter marks of student:98
enter student name:anu
enter marks of student:97
enter student name:nani
enter marks of student:95
name of the student 	 % of marks
ammu 	 98
anu 	 97
nani 	 95

In [1]:
record={}
n=int(input("enter number of students:"))
i=1
while i<=n:
    name=input("enter student name:")
    marks=input("enter marks of student:")
    record[name]=marks
    i=i+1
print("name of the student","\t","% of marks")
for x in record:
    print("\t",x,"\t\t",record[x])

enter number of students:3
enter student name:hi
enter marks of student:97
enter student name:hello
enter marks of student:76
enter student name:hey
enter marks of student:95
name of the student 	 % of marks
	 hi 		 97
	 hello 		 76
	 hey 		 95

To delete the element in record.,

In [2]:
print(record)

{'hi': '97', 'hello': '76', 'hey': '95'}

In [3]:
record={}
n=int(input("enter number of students:"))
i=1
while i<=n:
    name=input("enter student name:")
    marks=input("enter marks of student:")
    record[name]=marks
    i=i+1
print("name of the student","\t","% of marks")
for x in record:
    print("\t",x,"\t\t",record[x])

enter number of students:4
enter student name:ammu
enter marks of student:97
enter student name:anu
enter marks of student:98
enter student name:nani
enter marks of student:96
enter student name:rishi
enter marks of student:95
name of the student 	 % of marks
	 ammu 		 97
	 anu 		 98
	 nani 		 96
	 rishi 		 95

In [4]:
print(record)

{'ammu': '97', 'anu': '98', 'nani': '96', 'rishi': '95'}

In [7]:
del record["nani"]
record

{'ammu': '97', 'anu': '98', 'rishi': '95'}

In [8]:
record.clear()
record

{}

In [9]:
del record
record

NameError: name 'record' is not defined

# get()

In [10]:
d=d={100:"venky",200:"ammu",300:"nani"}
print(d)

{100: 'venky', 200: 'ammu', 300: 'nani'}

In [12]:
d=d={100:"venky",200:"ammu",300:"nani"}
print(d[200])

ammu

In [13]:
print(d[400])

KeyError: 400

In [14]:
print(d.get(400))

None

In [15]:
print(d.get(100,"guest"))
print(d.get(400,"guest"))

venky
guest

In [16]:
print(d.get(100,"nana"))
print(d.get(400,"host"))

venky
host

In [17]:
print(d.get(100,"host"))
print(d.get(400,"host"))

venky
host

for unknowns we can assign any values

# pop()

In [19]:
d={100:"venky",200:"ammu",300:"nani"}
print(d.pop(300))

nani

In [20]:
d

{100: 'venky', 200: 'ammu'}

In [21]:
print(d.pop(300))

KeyError: 300

In [22]:
print(d.pop())

TypeError: pop expected at least 1 argument, got 0

# popitem()

this function also returns the element deleted

In [23]:
d=d={100:"venky",200:"ammu",300:"nani"}
print(d.popitem())

(300, 'nani')

In [24]:
d

{100: 'venky', 200: 'ammu'}

In [25]:
print(d.popitem())

(200, 'ammu')

In [27]:
print(d.popitem())

(100, 'venky')

In [28]:
print(d.popitem())

KeyError: 'popitem(): dictionary is empty'

# keys()

In [29]:
d=d={100:"venky",200:"ammu",300:"nani"}
print(d.keys())

dict_keys([100, 200, 300])

# values()

In [30]:
d=d={100:"venky",200:"ammu",300:"nani"}
print(d.values())

dict_values(['venky', 'ammu', 'nani'])

# items()

In [31]:
d=d={100:"venky",200:"ammu",300:"nani"}
print(d.items())

dict_items([(100, 'venky'), (200, 'ammu'), (300, 'nani')])

# copy()

In [34]:
d=d={100:"venky",200:"ammu",300:"nani"}
d1=d.copy()

In [35]:
d1

{100: 'venky', 200: 'ammu', 300: 'nani'}

In [36]:
d1[100]

'venky'

In [37]:
d

{100: 'venky', 200: 'ammu', 300: 'nani'}

In [38]:
d1

{100: 'venky', 200: 'ammu', 300: 'nani'}

In [39]:
print(id(d))
print(id(d1))

2659761929536
2659761929344

In [40]:
d1=d

In [41]:
d1

{100: 'venky', 200: 'ammu', 300: 'nani'}

In [42]:
d

{100: 'venky', 200: 'ammu', 300: 'nani'}

In [43]:
d1[100]="venky"

In [44]:
d

{100: 'venky', 200: 'ammu', 300: 'nani'}

In [46]:
print(id(d))
print(id(d1))

2659761929536
2659761929536

# setdefault()

In [47]:
d=d={100:"venky",200:"ammu",300:"nani"}
print(d.setdefault(400,"anu"))
print(d)

anu
{100: 'venky', 200: 'ammu', 300: 'nani', 400: 'anu'}

In [48]:
print(d.setdefault(100,"pandu"))
print(d)

venky
{100: 'venky', 200: 'ammu', 300: 'nani', 400: 'anu'}

# update()

In [49]:
d1={100:"venky",200:"nani"}
d2={300:"ammu",400:"anu"}
print(d1+d2)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

arithemetic operator donot work here. so we use update

In [52]:
d1={100:"venky",200:"nani"}
d2={300:"ammu",400:"anu"}
print(d1.update(d2))

None

In [53]:
d1={100:"venky",200:"nani"}
d2={300:"ammu",400:"anu"}
print(d1.update(d2))

None